<div class="container">
    <div class="inputs">
        <h1>List your home here</h1>
        <form ng-submit="hc.addHouse(hc.houseToAdd)">
            COST:  <input type="number" ng-model="hc.houseToAdd.cost" placeholder="cost"><br>
            SIZE:  <input type="number" ng-model="hc.houseToAdd.sqft" placeholder="square footage"><br>
            TYPE:  <input type="text" ng-model="hc.houseToAdd.type" placeholder="rent or sell"><br>
            CITY:  <input type="text" ng-model="hc.houseToAdd.city" placeholder="city"><br>
            IMAGE: <input type="text" ng-model="hc.houseToAdd.image_path" placeholder="image"><br>
            <input type="submit" class="btn btn-outline-secondary">
        </form>    
    </div>
    <h2>Here are all of our listings today</h2>
    <!-- Is AngularJS working? {{ 2 === 2 }} -->
    <div>
        <div ng-repeat="listings in hc.listings">
            <div class="card mb-3">
                <img ng-src="images/{{listings.image_path}}" alt="house" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">City: {{listings.city}}</h4>
                    <div class="card-text">Cost: {{listings.cost}}</div>
                    <div class="card-text">Type: {{listings.type}}</div>
                    <div class="card-text">Square Footage: {{listings.sqft}}</div>
                </div>
                <button ng-click="hc.deleteHouse(listings.id)" class="btn btn-warning">DELETE listing</button>
            </div>
        </div>
    </div>
</div>