<div class="container">
    <h1>Here are our sales listings today</h1>
    <!-- Is AngularJS working? {{ 2 === 2 }} -->
    <div>
        <div ng-repeat="listings in sc.sale">
            <div class="card mb-3">
                <img ng-src="images/{{listings.image_path}}" alt="house" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">City: {{listings.city}}</h4>
                    <div class="card-text">Cost: {{listings.cost}}</div>
                    <div class="card-text">Type: {{listings.type}}</div>
                    <div class="card-text">Square Footage: {{listings.sqft}}</div>
                </div>
                <button ng-click="sc.deleteHouse(listings.id)" class="btn btn-warning">DELETE listing</button>
            </div>
        </div>
    </div>
</div>